<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tarefa</title>
</head>
<body>

    <h1>Editar Tarefa</h1>


    <form action="{% url 'tarefas:editar' tarefa_id %}" method="post">

        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        
    <input type="submit" value="Criar">
            <a href="{% url 'tarefas:lista' %}">Cancelar</a>
    
            <a href="{% url 'tarefas:apagar' tarefa_id %}">Apagar</a>
</form>

</body>
</html>